<%= form_for @provider, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :NombreProvider, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreProvider, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccionProvider, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccionProvider, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechadasoProvider, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechadasoProvider, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                providers_path, :class => 'btn' %>
  </div>
<% end %>
