<%= form_for @provider, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :"Nombre o razón social", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :NombreProvider, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :"Dirección", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :direccionProvider, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :"Fecha de asociación", :class => 'control-label' %>
    <div class="controls">
      <%#= f.text_field :fechadasoProvider, 'data-behaviour' => 'datepicker' %>
      <%= f.text_field :fechadasoProvider, 'data-behaviour' => 'datepicker' %>
    </div>
  </div>
  <script type="text/javascript">
  $('[data-behaviour~=datepicker]').datepicker();
</script>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                providers_path, :class => 'btn' %>
  </div>
<% end %>
