<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @provider.NombreProvider %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @provider.direccionProvider %>
</p>

<p>
  <strong>Fecha de Asociación:</strong>
  <%= @provider.fechadasoProvider %>
</p>

<%= link_to 'Editar', edit_provider_path(@provider) %> |
<%= link_to 'Regresar', providers_path %>
