<h1>Listing order_details</h1>

<table>
  <thead>
    <tr>
      <th>Cantidadlibros</th>
      <th>Descuento</th>
      <th>Preciounitario</th>
      <th>Cantidadtotal</th>
      <th>Importe</th>
      <th>Order</th>
      <th>Book</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_details.each do |order_detail| %>
      <tr>
        <td><%= order_detail.cantidadlibros %></td>
        <td><%= order_detail.descuento %></td>
        <td><%= order_detail.preciounitario %></td>
        <td><%= order_detail.cantidadtotal %></td>
        <td><%= order_detail.importe %></td>
        <td><%= order_detail.order %></td>
        <td><%= order_detail.book %></td>
        <td><%= link_to 'Show', order_detail %></td>
        <td><%= link_to 'Edit', edit_order_detail_path(order_detail) %></td>
        <td><%= link_to 'Destroy', order_detail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order detail', new_order_detail_path %>
