<%= form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   <%= f.label :"Nombre" %><br>
    <%= f.text_field :nombreClient, :placeholder => "Nombre del cliente" %>
  </div>
  <div class="field">
    <%= f.label :"Teléfono" %><br>
    <%= f.text_field :telefonoClient, :placeholder => "Número telefónico" %>
  </div>
  <div class="field">
     <%= f.label :"Dirección" %><br>
    <%= f.text_field :direccionClient, :placeholder => "Dirección del cliente" %>
  </div>
  <div class="field">
     <%= f.label :"Email" %><br>
    <%= f.text_field :emailClient, :placeholder => "Correo electrónico" %>
  </div>
  <div class="field">
    <%= f.label :"RFC" %><br>
    <%= f.text_field :rfcClient, :placeholder => "El RFC" %>
  </div>
  <div class="field">
    <%= f.label :"Razón social" %><br>
    <%= f.text_field :razonsocialClient, :placeholder => "La Razón social" %>
  </div>
  <div class="field">
    <%= f.label :"Facebook" %><br>
    <%= f.text_field :facebookClient, :placeholder => "Dirección del Facebook" %>
  </div>
  <div class="field">
   <%= f.label :"Linked In" %><br>
    <%= f.text_field :linkedinClient, :placeholder => "Dirección de Linked In" %>
  </div>
  <div class="actions">
    <%= f.submit :"Aceptar" %>
  </div>
<% end %>
