<%= form_for @client, :html => { :class => 'form-horizontal' } do |f| %>

  <div class="control-group<%= @client.errors[:nombreClient].any? ? " error" : "" %>">
    <%= f.label :nombreClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombreClient, :class => 'text_field' %>
      <span class="help-inline">
      <%= @client.errors[:nombreClient].any? ? @client.errors[:nombreClient].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>


  <div class="control-group<%= @client.errors[:telefonoClient].any? ? " error" : "" %>">
    <%= f.label :telefonoClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :telefonoClient, :class => 'text_field' %>
      <span class="help-inline">
      <%= @client.errors[:telefonoClient].any? ? @client.errors[:telefonoClient].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :direccionClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :direccionClient, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :emailClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :emailClient, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :rfcClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :rfcClient, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :razonsocialClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :razonsocialClient, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :facebookClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :facebookClient, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :linkedinClient, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :linkedinClient, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                clients_path, :class => 'btn' %>
  </div>
<% end %>
