<h1>Lista de Clientes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Teléfono</th>
      <th>Dirección</th>
      <th>Email</th>
      <th>RFC</th>
      <th>Razón Social</th>
      <th>Facebook</th>
      <th>Linked In</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.nombreClient %></td>
        <td><%= client.telefonoClient %></td>
        <td><%= client.direccionClient %></td>
        <td><%= client.emailClient %></td>
        <td><%= client.rfcClient %></td>
        <td><%= client.razonsocialClient %></td>
        <td><%= client.facebookClient %></td>
        <td><%= client.linkedinClient %></td>
        <td><%= link_to 'Mostrar', client %></td>
        <td><%= link_to 'Editar', edit_client_path(client) %></td>
        <td><%= link_to 'Eliminar', client, method: :delete, data: { confirm: '¿Desea eliminar este Cliente?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_client_path %>
