<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @client.nombreClient %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @client.telefonoClient %>
</p>

<p>
  <strong>Dirección:</strong>
  <%= @client.direccionClient %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.emailClient %>
</p>

<p>
  <strong>RFC:</strong>
  <%= @client.rfcClient %>
</p>

<p>
  <strong>Razón Social:</strong>
  <%= @client.razonsocialClient %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @client.facebookClient %>
</p>

<p>
  <strong>Linked In:</strong>
  <%= @client.linkedinClient %>
</p>

<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Regresar', clients_path %>
