<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :fechapedido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechapedido, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechaprogamada, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaprogamada, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechaentregada, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaentregada, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estatus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estatus, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_id, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
