<%= form_for(@book) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :"ISBN" %><br>
    <%= f.text_field :isbn, :placeholder => "ISBN"%>
  </div>
  <div class="field">
    <%= f.label :"clave" %><br>
    <%= f.text_field :claveinterna, :placeholder => "Clave Interna" %>
  </div>
  <div class="field">
    <%= f.label :"Título" %><br>
    <%= f.text_field :titulo, :placeholder => "Título de Libro" %>
  </div>
  <div class="field">
    <%= f.label :"Autor" %><br>
    <%= f.text_field :autor, :placeholder => "Autor del Libro" %>
  </div>
  <div class="field">
    <%= f.label :"Editorial" %><br>
    <%= f.text_field :editorial, :placeholder => "Editorial" %>
  </div>
  <div class="field">
    <%= f.label :"Stock" %><br>
    <%= f.number_field :stock, :placeholder => "Stock" %>
  </div>
  <div class="field">
    <%= f.label :"Precio" %><br>
    <%= f.text_field :precio, :placeholder => "Precio del Libro" %>
  </div>

  <div class="field">
      <%= f.label :"Proveedor"  %><br>
   <%= f.select(:provider_id, Provider.all.collect {|g| [g.NombreProvider, g.id] }, :prompt => 'selecciona un proveedor') %>
  </div >

    <div class="field">
      <%= f.label :"Categoría"  %><br>
   <%= f.select(:category_id, Category.all.collect {|g| [g.nombreCategoria, g.id] }, :prompt => 'selecciona un categoria') %>
  </div >
  <div class="actions">
    <%= f.submit :"Aceptar" %>
  </div>
<% end %>
 