<%= form_for @category, :html => { :class => 'form-horizontal' } do |f| %>

   <div class="control-group<%= @category.errors[:nombreCategoria].any? ? " error" : "" %>">
    <%= f.label :"Nombre", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :nombreCategoria, :class => 'text_field' %>
      <span class="help-inline">
      <%= @category.errors[:nombreCategoria].any? ? @category.errors[:nombreCategoria].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>

  <div class="control-group<%= @category.errors[:descripcionCategoria].any? ? " error" : "" %>">
    <%= f.label :"Descripción", :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :descripcionCategoria, :class => 'text_area' %>
      <span class="help-inline">
      <%= @category.errors[:descripcionCategoria].any? ? @category.errors[:descripcionCategoria].to_s[/\w([^"]*)/] : "" %></span>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                categories_path, :class => 'btn' %>
  </div>
<% end %>
